img.buttonplay{
    position:absolute;
    width: 50px;
    height: 50px;
}

img.buttonpause{
    position:absolute;
    width: 50px;
    height: 50px;
}

.rgbdefault{
    cursor: url('curseurs/curseurs-de-souris-cu-rgb/glow-arrow.cur'), default;
}
.rgbhelp{
    cursor: url('curseurs/curseurs-de-souris-glowing-rgb/glow-help.cur'), help;
}
.rgbpointer{
    cursor: url('curseurs/curseurs-de-souris-glowing-rgb/glow-link.cur'), pointer;
}
.rgbprogress{
    cursor: url('curseurs/curseurs-de-souris-glowing-rgb/glow-loading-arrow.cur'), progress;
}
.rgbwait{
    cursor: url('curseurs/curseurs-de-souris-glowing-rgb/glow-busy.cur'), wait;
}
.rgbcrosshair{
    cursor: url('curseurs/curseurs-de-souris-glowing-rgb/glow-cross.cur'), crosshair;
}
.rgbtext{
    cursor: url('curseurs/curseurs-de-souris-glowing-rgb/glow-text.cur'), text;
}
.rgbmove{
    cursor: url('curseurs/curseurs-de-souris-glowing-rgb/glow-move.cur'), move;
}
.rgbNA{
    cursor: url('curseurs/curseurs-de-souris-glowing-rgb/glow-unavailable.cur'), no-drop;
}
.rgbV{
    cursor: url('curseurs/curseurs-de-souris-glowing-rgb/glow-vertical.cur'), n-resize;
}
.rgbH{
    cursor: url('curseurs/curseurs-de-souris-glowing-rgb/glow-horizontal.cur'), e-resize;
}
.rgbnwse{
    cursor: url('curseurs/curseurs-de-souris-glowing-rgb/glow-diag1.cur'), nwse-resize;
}
.rgbnesw{
    cursor: url('curseurs/curseurs-de-souris-glowing-rgb/glow-diag2.cur'), nesw-resize;
}

.bluedefault{
    cursor: url('curseurs/curseurs-de-souris-degrades-bleu/BlueToGreenPointer.cur'), default;
}
.bluehelp{
    cursor: url('curseurs/curseurs-de-souris-degrades-bleu/BlueToGreenHelpSelect.cur'), help;
}
.bluepointer{
    cursor: url('curseurs/curseurs-de-souris-degrades-bleu/BlueToGreenLinkSelect.cur'), pointer;
}
.blueprogress{
    cursor: url('curseurs/curseurs-de-souris-degrades-bleu/BlueToGreenWorkingInBackground.cur'), progress;
}
.bluewait{
    cursor: url('curseurs/curseurs-de-souris-degrades-bleu/BlueToGreenBusy.cur'), wait;
}
.bluecrosshair{
    cursor: url('curseurs/curseurs-de-souris-degrades-bleu/BlueToGreenPrecisionSelect.cur'), crosshair;
}
.bluetext{
    cursor: url('curseurs/curseurs-de-souris-degrades-bleu/BlueToGreenTextSelect.cur'), text;
}
.bluemove{
    cursor: url('curseurs/curseurs-de-souris-degrades-bleu/BlueToGreenMove.cur'), move;
}
.blueNA{
    cursor: url('curseurs/curseurs-de-souris-degrades-bleu/No.cur'), no-drop;
}
.bluenwse{
    cursor: url('curseurs/curseurs-de-souris-degrades-bleu/BlueToGreenDiagonalResize1.cur'), nwse-resize;
}
.blueH{
    cursor: url('curseurs/curseurs-de-souris-degrades-bleu/BlueToGreenHorizontalResize.cur'), e-resize;
}
.blueV{
    cursor: url('curseurs/curseurs-de-souris-degrades-bleu/BlueToGreenVerticalResize.cur'), n-resize;
}
.bluenesw{
    cursor: url('curseurs/curseurs-de-souris-degrades-bleu/BlueToGreenDiagonalResize2.cur'), nesw-resize;
}

.presentationdefault {
    cursor: default;
}
.presentationhelp {
    cursor: help;
}
.presentationpointer {
    cursor: pointer;
}
.presentationprogress {
    cursor: progress;
}
.presentationwait {
    cursor: wait;
}
.presentationcrosshair {
    cursor: crosshair;
}
.presentationtext {
    cursor: text;
}
.presentationmove {
    cursor: move;
}
.presentationNA {
    cursor: not-allowed;
}
.presentationnwse {
    cursor: nwse-resize;
}
.presentationH {
    cursor: e-resize;
}
.presentationV {
    cursor: n-resize;
}
.presentationnesw {
    cursor: nesw-resize;
}

div.zonecurseur {
    display: flex;
    text-align: center;
    flex-direction: column;
}

body{
    color:white;
    font-family: Arial, sans-serif;
    text-align: justify;
    font-size: 14pt;
    background-color: #252525 ;
    margin-top: 8px;
}

div.presentation{
    background: radial-gradient(circle, rgba(132,147,255,1) 26%, rgba(128,249,247,1) 100%);
    padding: 5px;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    border-color:black;
    width: 121px;
    height: 85px;
    align-content: center;
    transition: all 0.3s ease;
}

div.presentation:hover{
    background: radial-gradient(circle, rgba(132,147,255,1) 47%, rgba(128,249,247,1) 100%);
    border-radius: 10px;
}

a.clique{
    background-color: #ffffff;
    padding:5px;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}
a.cliquer{
    background-color: #000;
    padding:5px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border-width: 0px;
    border-style: solid;
}
a.clique:hover{
    cursor: not-allowed;
    color: #909090;
}
a.cliquer:hover{
    cursor: help;
    background-color: rgba(250,50,50,70);
}

.invisible{
    display:none;
}

a.div{
    background: radial-gradient(circle, rgba(0,255,251,1) 0%, rgba(233,233,233,1) 65%);
    padding:5px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: black 1px solid;
    cursor: help;
    transition: all 0.3s ease;
}
a.div:hover{
    background: radial-gradient(circle, rgba(0,255,251,1) 0%, rgba(233,233,233,1) 83%);
    padding: 7px;
    color: #000;
}

div.sommaire{
    background-color: #000000;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    border: black 1px solid;
    color: #777;
    text-align: center;
    margin: 3px;
    position: fixed;
    top: 5px;
    left: 5px;
}
div.body{
    text-align: justify;
    margin-left: 125px;
}

.searchbar{
    border-radius: 10px; 
    padding: 5px; 
    border: 1px black solid; 
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,255,1) 45%, rgba(240,255,255,1) 55%, rgba(0,255,251,1) 100%); 
    transition: all 0.5 ease; 
    color: black;
}

.lien{
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding:3px;
    border-radius: 5px;
    background-color: rgba(0, 189, 0, 0.411);
    transition: all 0.3 ease;
}
.lien:hover{
    padding: 6px;
    border-radius: 10px;
}
.flex{
    display: flex;
}
img.imgdelete{
    width: 30px;
}
img.imgdelete:hover{
    background-color: #777;
}
button.extension{
    background-color: #4CAF50; /* Vert */
    border: none;
    border-radius: 7px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
}

button.extension:hover{
    background-color: rgba(255,255,255,0.3); 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 11px;
    border-spacing: 1px;
}

div.tutocache{
    color: black;
    font-size: 12px;
    position: absolute;
    width: 600px;
    background-color: lightblue;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.large-button {
	width: 200px;
	height: 190px;
	position: absolute;
	background: url('https://www.myinstants.com/media/images/transparent_button_sprite.png') no-repeat;
	background-position: -5px -5px;
	border: 0;
	display: block;
	-webkit-tap-highlight-color: transparent;
    top: 50px;
    left: 400px;
}

.large-button-background {
	width: 188px;
	height: 174px;
	margin-top: 7px;
	margin-left: 6px;
	position: absolute;
    top: 50px;
    left: 400px;
}

.large-button-shadow {
	width: 200px;
	height: 190px;
	background: url('https://www.myinstants.com/media/images/transparent_button_shadow.png') no-repeat;
    position: absolute;
    top: 50px;
    left: 400px;
}