body{
    background-color: #252525;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.large-button {
	width: 200px;
	height: 190px;
	background: url('https://www.myinstants.com/media/images/transparent_button_sprite.png') no-repeat;
	background-position: -5px -5px;
	border: 0;
	display: block;
	-webkit-tap-highlight-color: transparent;
    position: relative;
    right: 5px;
    bottom: 6px;
}
.large-button:focus {
	background: url('https://www.myinstants.com/media/images/transparent_button_sprite.png') no-repeat;
	background-position: -5px -5px;
}

div.bigcontainer{
    margin: 10px;    
}

.upgradecontainer{
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 255, 0.2);
    text-align: left;
}

.upgradecontainer_upgraded{
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(0, 255, 0, 0.2);
    text-align: left;
}


