body{
    background-color: #252525;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.large-button {
	width: 200px;
	height: 190px;
	background: url('https://www.myinstants.com/media/images/transparent_button_sprite.png') no-repeat;
	background-position: -5px -5px;
	border: 0;
	display: block;
	-webkit-tap-highlight-color: transparent;
}
.large-button:focus {
	background: url('https://www.myinstants.com/media/images/transparent_button_sprite.png') no-repeat;
	background-position: -5px -5px;
}